body {
   background: white;
   font-size: 12pt;
   margin: 0;
   }

#page-wrapper,
#page,
#main-wrapper,
#main {
  border: 0;
  margin: 0;
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
  display: none !important!;
  padding: 0;
  float: none !important;
}
   
#menu {
   display: none;
   }
#wrapper, #content {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
   }
   
/* Above is a standard template...
 * going to try to make edits from here on.
 */

#primary_links {
  display: none;
  border: 0;
}

#page_wrapper {
  border: 0;
}

#logo,
.breadcrumb,
.title,
.views-exposed-form,
.view-content .calendar-calendar ul.links, 
.date-prev,
.date-next,
.date-nav {
  display: none;
}

/* Hide sidebars and nav elements */
#skip-link,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.breadcrumb,
div.tabs,
.links,
.taxonomy,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons {
  visibility: hidden;
  display: none;
}

#footer {
  display: none;
}

div .attachment,
div .attachment-after{
  width: 98%;
}

.calendar-calendar .week-view .full div.calendar-agenda-hour span {
  padding-right: 5px;
}

.calendar-calndar .week-view table.full-header th .fri {
  min-width: 18.5%;
}

.week-view table {
  min-height: 600px;
  width: 100%;
}